.nav.nav-pills .nav-link.active {
  background-color: #ff902f5d;
  height: 3rem;
  width: 90%;
  color: #000000;
  font-weight: bold;
}

.nav.nav-pills .nav-link {
  color: #000000;
}

.BarAdmin {
  border-right: #20bbcce1 2px solid;
  min-height: 44rem;
  height: 100%;
  overflow-y: scroll;
  overflow: hidden;
  width: 18rem;
  box-shadow: 1px 1px 5px #17aebee1;
  background: rgb(238,238,237);
background: radial-gradient(circle, rgba(238,238,237,1) 35%, rgba(255,255,255,1) 100%);
}

.BarMedico {
  border-right: #20bbcce1 2px solid;
  min-height: 44rem;
  height: 100%;
  overflow-y: scroll;
  overflow: hidden;
  width: 18rem;
  box-shadow: 1px 1px 5px #17aebee1;
  background: rgb(238,242,255);
background: radial-gradient(circle, rgba(238,242,255,1) 70%, rgba(255,255,255,1) 100%);
}

.BarCliente {
  border-right: #20bbcce1 2px solid;
  min-height: 44rem;
  height: 100%;
  overflow-y: scroll;
  overflow: hidden;
  width: 18rem;
  box-shadow: 1px 1px 5px #17aebee1;
  background: rgb(236,255,236);
background: radial-gradient(circle, rgba(236,255,236,1) 70%, rgba(255,255,255,1) 100%);
}

.BarSecre {
  border-right: #20bbcce1 2px solid;
  min-height: 44rem;
  height: 100%;
  overflow-y: scroll;
  overflow: hidden;
  width: 18rem;
  box-shadow: 1px 1px 5px #17aebee1;
  background: rgb(254,238,255);
background: radial-gradient(circle, rgba(254,238,255,1) 70%, rgba(255,255,255,1) 100%);
}

body {
  height: 100%;
}
