.navbar.header {
  border-bottom: #20bbcce1 2px solid;
  height: 5rem;
  box-shadow: 1px 1px 5px #17aebee1;
  
}

.navbar.header .navbar-brand {
  color: rgb(0, 0, 0);
}

.navbar.header .nav-link {
  color: rgb(0, 0, 0);
}

.img_header {
  width: 100%;
  object-fit: scale-down;
}
