.list-group-item {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #000000;
}

.list-group .list-group-item.active {
  background-color: #ff902f79;
  border-color: #ff902f;
  font-weight: bold;
  color: #000000;
}
